<!DOCTYPE html>
<html>
<head>
    <title>实时数据推送</title>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
<div id="data-wrapper">这里展示数据</div>
</body>

<script type="text/javascript">
       var socket = io.connect("http://localhost:5000");

       socket.on('connect', function () {
          socket.emit('my event', {data: 'I\'m connected!'});
       });
       socket.on('server_response', function (res) {
          var data = res;
          $("#data-wrapper").text(data);
       });
</script>
</html>